.Rcontainer{
    background:linear-gradient(to right bottom ,rgba(0, 0, 0, 0.76), #6a8f75d0),url("../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
    background-size: cover;
    background-position: top;
    height: 140vh;
    margin-top: -65vh;
    padding: 25rem 0;
    z-index: -1 ;
    position: relative;
     clip-path: polygon(0% 0%, 100% 0%, 100% 69%, 0% 80%);
    
}
.subcontainer{
  font-style: normal;
}
@media (max-width: 768px) {
    .Rcontainer{
        height: auto;
        margin-top: -35rem;
     z-index: 10;
        
    }
}

@media (min-width: 1800px) and (max-width: 2560px) {
    .Rcontainer{
     margin-top: 85vh !important;
     padding: 50rem 0;
    }
    .subcontainer{
        margin-top: 85vh !important;
    }
}