/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0.6rem;
    margin: 0;

}
html{
    font-size: 92%;
}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.6rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: beige; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 0.2rem; /* Roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}